[submodule "libs/sol2"]
	path = libs/sol2
	url = https://github.com/ThePhD/sol2
	branch = develop
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "libs/nng"]
	path = libs/nng
	url = https://github.com/nanomsg/nng
[submodule "libs/nngpp"]
	path = libs/nngpp
	url = https://github.com/cwzx/nngpp
[submodule "libs/cpp-base64"]
	path = libs/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
