[submodule "libs/sol2"]
	path = libs/sol2
	url = https://github.com/ThePhD/sol2
	branch = develop
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "libs/async-sockets-cpp"]
	path = libs/async-sockets-cpp
	url = https://github.com/eminfedar/async-sockets-cpp
